/*[class*="col-"]{
	border: 1px solid green;
}*/
/*
* .col-md- = 970px
* .col-lg- = 1170px
* .col-sm- = 750px
*/
:root {
  --my-back-color: #E0E0E0;
  --roug-back-color:#ec7263;
}
body{
  background-color: var(--my-back-color);
}
h1{
  text-transform: uppercase;
  font-size: 1.8em;
}
header{
  /*background-color: #252758;*/ /*(45deg, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%)*/
background: linear-gradient(45deg, #1e5799 0%,#252758 60%, white 60%,white 100%);
}
.container{
  background-color: white;
-moz-box-shadow: 0px 0px 5px 5px #656565;
-webkit-box-shadow: 0px 0px 5px 5px #656565;
-o-box-shadow: 0px 0px 5px 5px #656565;
box-shadow: 0px 0px 5px 5px #656565;
min-width: 330px;
}
.nowrap{
  white-space: nowrap;
}
.entete{
  position: relative;
}
.entete figure{
  /*border: 1px solid red;*/
  position: absolute;
  z-index:1;
  top: 0;
  font-size: 1em;
  text-align: center;
   margin: 0 auto;
   padding-top: 20px;
}
.entete figure figcaption{
	position:absolute;
	left: -100%;
  bottom: 0;

}
.entete figure p{
  margin: 0;
}
.entete figcaption > p{
  font-size: 1.5em;
  font-weight: bold;
}
.entete h1{
	font-size: 2.4em;
	text-transform: uppercase;
	/*border-top: 5px double var(--roug-back-color);
	border-bottom: 5px double var(--roug-back-color);*/
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 15px 0;
	white-space: nowrap;
  color: white;
  text-shadow: 2px 2px grey;
}
.entete address{
	margin-bottom:0;
}
.icon{
	width:22px;
	height:22px;
	display:inline-block;
  transition: transform .3s;
	
}
.facebook{
	background: url(../img/icons/facebook.png) no-repeat center;
}
.linkedin{
	background: url(../img/icons/linkedin.png) no-repeat center;
}
.section{
	padding-top: 10%;
}

/*******************************************
EXPERIENCE
*******************************************/
.flyTitle{
  /*transform: left 5s;*/
  /*transition: all 2s ease;*/
  transition: 1s ease;
}
.experience{
  margin-top: 20px;
  position: relative;
  padding: 1em 0;
  list-style: none;
}
.experience:before {
  width: 5px;
  height: 100%;
  position: absolute;
  left: 25px;
  top: 0;
  content: ' ';
  display: block;
  background: var(--roug-back-color);
  background: -moz-linear-gradient(top,  #ffffff 0%, var(--roug-back-color) 7%, var(--roug-back-color) 89%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(7%,var(--roug-back-color)), color-stop(89%,var(--roug-back-color)), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(top,  #ffffff 0%,var(--roug-back-color) 7%,var(--roug-back-color) 89%,#ffffff 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,var(--roug-back-color) 7%,var(--roug-back-color) 89%,#ffffff 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,var(--roug-back-color) 7%,var(--roug-back-color) 89%,#ffffff 100%);
  background: linear-gradient(to bottom,  #ffffff 0%,var(--roug-back-color) 7%,var(--roug-back-color) 89%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
}
.experience li{
  width: 100%;
  z-index: 2;
  position: relative;
  float: left;
}

.description{
  
  margin-left: 10px;
  width: 80%;
  display: inline-block;
  background: var(--my-back-color);
  margin-bottom: 10px;
  position: relative;
  padding: 10px 10px 0 10px;
  border-bottom: 1px solid #ddd;
  border-radius: 3px 3px;


}
.description:after {
  content: '';
  position: absolute;
  top: 15px;
  right: 0;
  left: -16px;
  height: 0;
  width: 0;
  border: solid transparent;
  border-right-color: var(--my-back-color);
  border-width: 8px;
  pointer-events: none;
}
.description h2{
  font-size: 1.5em;
  color: var(--roug-back-color);
}
.description h3{
  font-weight: bold;
}
.year{
  width: 8%;
  line-height: 13px;
  min-width: 50px;
  background:var(--roug-back-color);
  border-radius: 50%;
  padding: 10px;
  font-size: 1em;
  font-weight: 700;
  display: inline-block;
  transition: transform .3s;
}
/****************************
SKILLS
*****************************/
.skills li{
    /*height: 30px;*/
    /*background: var(--roug-back-color);*/
    background: white;
    /*color: #fff;*/
    padding: 2px 10px;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.3em;
    font-weight: 600;
    border-radius: 3px 3px;
    transition: transform .9s; 
}
.skills-legend{
  margin-top: 15px;
  opacity: 0.8;
}
.skills-legend:before{
  width: 100%;
  height: 3px;
  position: relative;
  content: ' ';
  display: block;
  margin-bottom: -13px;
  background: #c6c6c6;
}
.skills-legend div{
  width: 25%;
  display: inline-block;
  font-size: 1.2em;
  color: #a9a9a9;
  float: left;
}
.legend:before{
  width: 3px;
  height: 10px;
  position: relative;
  content: ' ';
  display: block;
  margin: auto;
  margin-bottom: 15px;
  background: #c6c6c6;
}
.legend-left.legend:before{
  margin-left: 0;
}
.legend-right.legend:before{
  margin-right: 0;
}
.legend-left:nth-child(2) span{
  margin-left: -25px;
}
.legend-right:nth-child(3) span{
  margin-right: -20px;
}
.legend-right{
  text-align: right;
}
.languages span{
  text-align: left;
  padding-left: 10px;
}
/****************************
 additionalInfos
*****************************/
.additionalInfos{
  background: #F7FFE8;
  overflow: hidden;
  clear: both;
}
.additionalInfos p{
  padding-left: 1em;
}


.additionalInfos h2{
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
}

@media (max-width: 1199px){
  header{
  /*background-color: #252758;*/ /*(45deg, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%)*/
    background: linear-gradient(45deg, #1e5799 0%,#252758 70%, white 70%,white 100%);
  }
}
/*@media (max-width: 1040px) {
  .entete h1{
    font-size: 2em;
	  white-space: normal;
	  width: 100%;
    
  }
}*/
@media (max-width: 991px){
  header{
  /*background-color: #252758;*/ /*(45deg, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%)*/
    background: linear-gradient(45deg, #1e5799 0%,#252758 100%);
  }
  .entete h1{
    text-align: center;
    font-size: 2em;
    white-space: normal;
  }
  .entete figure{
    /*border: 1px solid red;*/
    position: initial;
    padding: initial;
    color: white;

  }
  .entete figure figcaption{
    position:initial;
  }
  .entete figure a{
    color: white;
    text-decoration: underline;
  }
}
/*
@media (min-width: @screen-sm-min) and (max-width: @screen-xs-min){ 
	.section{padding-top: 0;}
}*/
/*
@media (min-width: @screen-md-max) { 
	body{display:none !important;}
 }*/